@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.owner{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

h2{
    text-align: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 300%;
}

.about{
    text-align: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 150%;
}

footer{
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #e66918;
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}