@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #101820FF;
}

.nav-bar{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin:  0 10%;
    padding-left: 10%;
    font-family: 'Squada One', cursive;
    
}
.nav-bar ul{
    list-style-type: none;
}

.nav-bar li{
    text-align: center;
    float: right;
    font-size: 22px;
    width: 125px;
    height: 50px;
    transition: 0.9s linear;
    
}

.nav-bar a{
    text-decoration: none;
    justify-content: space-between;
    color: #FCCF2E;
    padding: 15%;
    border-bottom: 3px solid transparent;
}

.nav-bar a:hover {
    border-bottom: 3px solid #CAD644;
  }

  .nav-bar a:active {
    border-bottom: 3px solid #CAD644;
  }